/* importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* tyles pour le body */
body {
    background: #c4c4c4;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* styles pour le wrapper du CV */
.resume_wrapper {
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 10px;
    flex: 1;
}

/* styles pour la partie gauche du CV */
.resume_wrapper .resume_left {
    width: 35%;
    background: #26252d;
}

/* styles pour l'image du CV */
.resume_wrapper .resume_left .resume_image {
    width: 100%;
}

.resume_wrapper .resume_left .resume_image img {
    width: 100%;
    display: block;
}

/* styles pour le titre du CV */
.resume_wrapper .resume_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

/* styles pour les informations du CV */
.resume_wrapper .resume_left .resume_info {
    color: #cccccd;
}

/* styles pour la partie basse du CV */
.resume_wrapper .resume_left .resume_bottom {
    padding: 20px 30px;
}

/* styles pour les éléments du CV */
.resume_wrapper .resume_item {
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}

.resume_wrapper .resume_item:last-child {
    border-bottom: 0;
}

/* styles pour le nom et le rôle */
.resume_wrapper .resume_left .resume_namerole {
    display: none;
}

.resume_wrapper .resume_namerole .name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.resume_wrapper .resume_left .resume_namerole .role {
    color: #84838b;
}

/* styles pour les contacts */
.resume_wrapper .resume_left .resume_contact .resume_info:last-child {
    margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle {
    color: #fff;
    margin-bottom: 2px;
}

/* styles pour les compétences */
.resume_wrapper .resume_left .resume_skills .skills_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p {
    position: relative;
    width: 125px;
    height: 20px;
    background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* styles pour la partie droite du CV */
.resume_wrapper .resume_right {
    width: 65%;
    padding: 20px 40px;
    color: #26252d;
}

.resume_wrapper .resume_right .resume_namerole .name {
    color: #26252d;
    font-size: 32px;
}

.resume_wrapper .resume_right .resume_namerole .role {
    font-size: 14px;
    text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title {
    color: #26252d;
}

.resume_wrapper .resume_right .resume_data {
    display: flex;
}

.resume_wrapper .resume_right .resume_data .year {
    padding-right: 35px;
    width: 115px;
    position: relative;
}

.resume_wrapper .resume_right .resume_data .content {
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #26252d;
    border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.resume_wrapper .resume_right .resume_data:last-child .year:after {
    display: none;
}

.resume_wrapper .resume_right .resmue_interests .resume_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.resume_wrapper .resume_right .resmue_interests .interests .int_icon {
    font-size: 38px;
    color: #0175b2;
    margin-bottom: 10px;
}

/* styles pour le footer */
.footer {
    background-color: #26252d; /* couleur de fond du footer */
    padding: 15px 20px; /* taille réduite du padding */
    text-align: center; /* centre les liens */
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px; /* augmenter la marge pour décaler plus bas */
}

.footer_links {
    display: flex;
    justify-content: center; /* centre les liens horizontalement */
    gap: 20px; /* espace entre les liens */
}

.footer_link {
    color: #fff; /* couleur du texte des liens */
    text-decoration: none; /* enlève le soulignement des liens */
    font-size: 16px; /* taille du texte des liens */
    transition: color 0.3s; /* transition pour le changement de couleur */
}

.footer_link:hover {
    color: #0175b2; /* couleur du texte des liens au survol */
}


/* styles pour les médias */
@media screen and (max-width: 800px) {
    .resume_wrapper .resume_right .resume_namerole {
        display: none;
    }
    .resume_wrapper .resume_left .resume_namerole {
        display: block;
    }
    .resume_wrapper {
        width: 95%;
        margin: 10px auto;
        flex-direction: column;
    }
    .resume_wrapper .resume_left,
    .resume_wrapper .resume_right {
        width: 100%;
    }
}

@media screen and (max-width: 424px) {
    .resume_wrapper .resume_right {
        padding: 20px 30px;
    }
    .resume_wrapper .resume_right .resume_data {
        flex-direction: column;
    }
    .resume_wrapper .resume_right .resume_data .year {
        padding: 0;
        margin-bottom: 5px;
        width: 100%;
        color: #0175b2;
    }
    .resume_wrapper .resume_right .resume_data .year:before,
    .resume_wrapper .resume_right .resume_data .year:after {
        display: none;
    }
    .resume_wrapper .resume_right .resume_data .content {
        width: 100%;
        padding: 0;
    }
    .resume_wrapper .resume_right .resmue_interests .interests .int_icon {
        font-size: 24px;
    }
}

@media print {
    /* les couleurs sont maintenues */
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /*ajouter d'autres styles spécifiques à l'impression ici par exemple, cacher certains éléments ou ajuster les marges */
    .no-print {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 1cm;
    }

    .resume_wrapper {
        width: 100%;
        max-width: 100%;  
        box-sizing: border-box;  
        padding: 0;  
    }

    body {
        font-size: 12px;  
    }

  
    .resume_wrapper .resume_left,
    .resume_wrapper .resume_right {
        padding: 10px;
    }

    .resume_wrapper .resume_item {
        padding: 10px 0;
    }

    /* réduire les espacements entre les éléments */
    .resume_wrapper .resume_left .resume_image img {
        width: 80%;  /* Réduisez la taille de l'image */
    }

    /* contenu des sections pour mieux tenir sur une page */
    .resume_wrapper .resume_right .resume_data .year,
    .resume_wrapper .resume_right .resume_data .content {
        font-size: 12px;  /* taille du texte */
    }
}




